<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV to Google Sheets - Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            background-image: url("https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-33703.jpg");
            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            max-width: 600px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333; /* Text color */
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .success-message {
            color: #4CAF50; /* Success message color */
        }
        .go-back-button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .go-back-button:hover {
            background-color: #2980b9; /* Hover color */
        }

       
    </style>
</head>
<body>
    

    <div class="container">
        <h1>Upload Successful!</h1>
        <p class="success-message">Your CSV file has been successfully uploaded to Google Sheets.</p>
        <a href="/" class="go-back-button">Go Back</a>
    </div>
</body>
</html>
